<a href="https://colab.research.google.com/github/pablonunez81/ucom_intro_prog_final_work/blob/main/M1_Trabajo_Final_pnunez_bbenitez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Trabajo Final - M1 Introducción a la programación para Ciencia de datos

#INTEGRANTES DEL GRUPO (Completar aquí)

1. 2.876.596, Pablo Núñez
2. NRO DOCUMENTO IDENTIDAD, APELLIDO Y NOMBRE

###  Contexto

Una empresa que vende Pizzas te ha contratado para que puedas ayudarlos a mejorar sus estrategias de negocios basándose en los datos. Para el efecto te han compartido los siguientes conjuntos de datos:
1.	**Orders**: contiene la fecha y la hora en que se realizaron todos los pedidos de la mesa.
2.	**Order_detail**: contiene las diferentes pizzas servidas con cada pedido en la tabla **Orders** y sus cantidades.
3.	**Pizzas**: contiene el tamaño y el precio de cada pizza distinta en la tabla **Order_detail**, así como su tipo de pizza más amplio.
4.	**Pizza_types**: contiene detalles sobre los tipos de pizza en la tabla **Pizzas**, incluido su nombre tal como aparece en el menú, la categoría a la que pertenece y su lista de ingredientes.

Tu misión como analista de datos será realizar el análisis exploratorio de datos "EDA“, por sus siglas en inglés, para analizar la información, buscar patrones en los datos y poder responder a las diferentes preguntas de negocio que interesan a la empresa.

Los pasos requeridos para el análisis se encuentran detallados en el archivo:  **M1 Trabajo Final.ipynb**

El trabajo consiste en desarrollar las celdas de código en **M1 Trabajo Final.ipynb** y presentar el archivo final resultante en el formato “.iypynb”

###  Importación de las librerías

Importa todas las librerias que consideres necesarias

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

from google.colab import drive
drive.mount('/content/drive')
ruta = "/content/drive/MyDrive/ucom_trabajo_final/dataset/"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

###  Lectura de archivos

In [38]:
from pandas._libs.tslibs.parsing import parse_datetime_string
from pandas.core.arrays.timedeltas import parse_timedelta_unit
from pandas.core.indexes.period import parse_time_string
df_orders = pd.read_csv(ruta+'orders.csv',parse_dates=['date', 'time'])
#df_order_details = pd.read_csv(ruta+'order_details.csv')
df_pizza_types = pd.read_csv(ruta+'pizza_types.csv', header=0, encoding='unicode_escape')
df_pizzas = pd.read_csv(ruta+'pizzas.csv')
#print(df_orders)
#print(df_order_details)
#print(df_pizza_types)
#print(df_pizzas)

####  Lee el archivo Orders

#### Verifica que el archivo haya sido cargado correctamente

In [39]:
print(df_orders)

       order_id       date                time
0             1 2015-01-01 2022-10-29 11:38:36
1             2 2015-01-01 2022-10-29 11:57:40
2             3 2015-01-01 2022-10-29 12:12:28
3             4 2015-01-01 2022-10-29 12:16:31
4             5 2015-01-01 2022-10-29 12:21:30
...         ...        ...                 ...
21345     21346 2015-12-31 2022-10-29 20:51:07
21346     21347 2015-12-31 2022-10-29 21:14:37
21347     21348 2015-12-31 2022-10-29 21:23:10
21348     21349 2015-12-31 2022-10-29 22:09:54
21349     21350 2015-12-31 2022-10-29 23:02:05

[21350 rows x 3 columns]

####  ¿Cuántos registros tiene el conjunto de datos?

In [40]:
n_orders = df_orders.count(0)
print(f'Cantidad de registros del conjunto de datos: {n_orders.order_id}')

Cantidad de registros del conjunto de datos: 21350

####  ¿Existen registros en blanco?

In [41]:
if n_orders.order_id == n_orders.date and n_orders.date == n_orders.time:
  print('No existen registros en blanco')
else:
  print('Existen registros en blanco')

No existen registros en blanco

####  ¿Cuáles son las columnas que tiene este dataset?

In [42]:
print(f'las columnas que tiene el data set orders.csv son: ')
columns_of_orders = df_orders.columns.to_series()
for c in columns_of_orders:
  print (c)

las columnas que tiene el data set orders.csv son:
order_id
date
time

#### ¿Las columnas de fechas y hora están cargadas correctamente?

In [43]:
df_orders.info() 
df_orders    
print('las columnas \'date\' y \'time\' son del tipo datetime64. time tiene la fecha del sistema actual. se debe presentar solo la hora')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21350 entries, 0 to 21349
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   order_id  21350 non-null  int64
 1   date      21350 non-null  datetime64[ns]
 2   time      21350 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1)
memory usage: 500.5 KB
las columnas 'date' y 'time' son del tipo datetime64. time tiene la fecha del sistema actual. se debe presentar solo la hora

#### En caso que sea necesario corrige la columna fecha y hora

In [44]:
df_orders['time'] = df_orders['time'].dt.strftime('%H:%M:%S')   # esto ejecutar una sola vez
df_orders

       order_id       date      time
0             1 2015-01-01  11:38:36
1             2 2015-01-01  11:57:40
2             3 2015-01-01  12:12:28
3             4 2015-01-01  12:16:31
4             5 2015-01-01  12:21:30
...         ...        ...       ...
21345     21346 2015-12-31  20:51:07
21346     21347 2015-12-31  21:14:37
21347     21348 2015-12-31  21:23:10
21348     21349 2015-12-31  22:09:54
21349     21350 2015-12-31  23:02:05

[21350 rows x 3 columns]

----

#### Lee el archivo order_details

In [60]:
df_order_details = pd.read_csv(ruta+'order_details.csv')

#### Verifica que el archivo haya sido cargado correctamente

In [61]:
print(df_order_details)

       order_details_id  order_id       pizza_id  quantity
0                     1         1     hawaiian_m         1
1                     2         2  classic_dlx_m         1
2                     3         2  five_cheese_l         1
3                     4         2    ital_supr_l         1
4                     5         2     mexicana_m         1
...                 ...       ...            ...       ...
48615             48616     21348  ckn_alfredo_m         1
48616             48617     21348  four_cheese_l         1
48617             48618     21348   napolitana_s         1
48618             48619     21349     mexicana_l         1
48619             48620     21350      bbq_ckn_s         1

[48620 rows x 4 columns]

#### ¿Cuántos registros tiene el conjunto de datos?

In [62]:
n_order_details = df_order_details.count(0)
print(f'Cantidad de registros del conjunto de datos: {n_order_details.order_details_id}')

Cantidad de registros del conjunto de datos: 48620

####  ¿Existen registros en blanco?

In [63]:

if n_order_details.order_details_id == n_order_details.order_id and n_order_details.order_id == n_order_details.pizza_id and n_order_details.pizza_id == n_order_details.quantity:
  print('No existen registros en blanco')
else:
  print('Existen registros en blanco')

No existen registros en blanco

####  ¿Cuáles son las columnas que tiene este dataset?

In [64]:
print(f'las columnas que tiene el data set order_details.csv son: ')
columns_of_orders = df_order_details.columns.to_series()
for c in columns_of_orders:
  print (c)

las columnas que tiene el data set order_details.csv son:
order_details_id
order_id
pizza_id
quantity

#### ¿Las columnas están cargadas con el tipo de dato correcto?

In [65]:
df_order_details.info() 
df_order_details 
print('la columna \'pizza_id\' es del tipo OBJECT. debería ser del tipo \'string\'')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB
la columna 'pizza_id' es del tipo OBJECT. debería ser del tipo 'string'

#### Corrige las columnas que creas se están cargando de manera incorrecta

In [66]:
#candidates['office_id'] = candidates['office_id'].astype('string')
df_order_details['pizza_id'] = df_order_details['pizza_id'].astype('string')
df_order_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   pizza_id          48620 non-null  string
 3   quantity          48620 non-null  int64
dtypes: int64(3), string(1)
memory usage: 1.5 MB

-----

#### Lee el archivo pizzas

#### Verifica que el archivo haya sido cargado correctamente

#### ¿Cuántos registros tiene el conjunto de datos?

####  ¿Existen registros en blanco?

####  ¿Cuáles son las columnas que tiene este dataset?

#### ¿Las columnas están cargadas con el tipo de dato correcto?

------

#### Lee el archivo pizza_types

#### Verifica que el archivo haya sido cargado correctamente

#### ¿Cuántos registros tiene el conjunto de datos?

####  ¿Existen registros en blanco?

####  ¿Cuáles son las columnas que tiene este dataset?

#### ¿Las columnas están cargadas con el tipo de dato correcto?

### Inicio de EDA

#### ¿A qué periodo corresponden las ventas?

In [ ]:
orders = df_orders.sort_values(by=['date'], ascending=True)
start_date = orders.head(1) #orders.iloc[[0],[1]]
end_date = orders.tail(1)
print(f'Las ventas corresponde al periodo entre {start_date.iloc[0,1]} y {end_date.iloc[0,1]}')

Las ventas corresponde al periodo entre 2015-01-01 00:00:00 y 2015-12-31 00:00:00

#### ¿Cuántos fueron los pedidos por mes?

In [ ]:
# https://www.analyticslane.com/2018/07/06/agrupacion-de-datos-por-fecha-en-pandas/
# agrupar por mes
# contar por mes
df_orders.index = df_orders['date']
monthly_orders = df_orders.resample('M').count()
monthly_orders.iloc[:,0:1]                                # p
#monthly_orders['date']
#df_orders['date'].dt.quarter
#df_orders.info()
#df_orders
#print(f'Los pedidos por mes fueron: {number_of_orders}')

            order_id
date
2015-01-31      1845
2015-02-28      1685
2015-03-31      1840
2015-04-30      1799
2015-05-31      1853
2015-06-30      1773
2015-07-31      1935
2015-08-31      1841
2015-09-30      1661
2015-10-31      1646
2015-11-30      1792
2015-12-31      1680

#### Haz un gráfico que permita visualizar la cantidad de pedidos por mes

#### ¿Cuál fue el promedio de pedidos mensual?

Para poder responder varias de las siguientes preguntas deberás realizar la transformación de los datos, que irá desde la unión de varios DataFrames hasta el calculo de nuevas columnas

#### ¿Cuántas pizzas se vendieron por mes y cuánto se facturó?

#### Haz gráficos que permitan visualizar la cantidad de pizzas vendidas y la facturación por mes

#### ¿En qué mes se tuvo la menor venta y cuál fue el importe facturado?

#### ¿En qué mes  se tuvo la mayor venta y cuál fue el importe facturado?

#### ¿Cuál es el promedio general de ventas por días de la semana?

#### Haz un gráfico de tipo heatmap u otro que ayude a visualizar mejor la información

#### Analiza el comportamiento de ventas mensual (Suma,Promedio, Mediana,mínimo,máximo,desviación estandart) según la cantidad de pizzas vendidas

#### ¿Cuántas pizzas se vendieron en total?

####  ¿Cúal es el nombre de la pizza que más se vende?

####  ¿Cúal es el nombre de la pizza que menos se vende?

#### ¿Cuál es el top 10 de sabores de pizzas más vendidas?

#### ¿Cómo son las ventas totales por tamaño de pizzas?

####  ¿Cuántas pizzas según el nombre y tamaño se vendieron?

#### Haz un gráfico que permita visualizar la ventas por tamaño de pizzas